{% extends "base.html" %}
{% block "title" %}Solar: klientai{% endblock %}
{% block "content" %}
<h1>Klientai:</h1>
<ul>
    {% for klientas in klientai %}
    <li><a href="{% url 'klientas' klientas.id %}">{{ klientas.vardas }} {{ klientas.pavarde }}</a></li>
    {% endfor %}
</ul>

<div class="container puslapiai">
    <nav aria-label="...">
        {% if klientai.has_other_pages %}
        <ul class="pagination pagination-sm justify-content-center">
            {% for i in klientai.paginator.page_range %}
            {% if klientai.number == i %}
            <li class="page-item active">
                <a class="page-link">{{ i }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
    </nav>
</div>
{% endblock %}