{% extends "base.html" %}

{% block "title" %}Mano saulės elektrinė{% endblock %}

{% block "content" %}

{% for post in posts %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2">{{ post.user }}</a>
            <small class="text-muted">{{ post.created|date:"Y-m-d, f" }}</small>
            <h2><a class="article-title">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content|truncatewords:"30"}}</p>
            <p class="card-text"><a>Skaityti daugiau</a></p>
            <a>Komentarų: {{ post.num_comments }}</a>
        </div>
        <hr>
    </div>
</article>
{% endfor %}
{% endblock %}